@import url(https://code.jquery.com/ui/1.12.1/themes/humanity/jquery-ui.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.min.css);

/* style master table */

#thButtons {
    text-align: left;
    padding: 10px;
    background-color: #BF7F3F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#divSelectors {
    float:right;
    background-color: #fff8dc;
    border-radius: 5px;
    height: 40px;
    width: 40%;
    padding-top: 10px;
    padding-left: 10px;

    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: medium;
}

.chosen-drop .chosen-results {
    max-height: 400px;
}

label#divSelectors {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: medium;
}

#spanSelectRoot {
    float:right;
    display:inline;
}

button {
    background-color: #fff8dc;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: medium;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

/* end master table */

/* style content table */


.dataRows tr:first-child th:first-child {
    border-top-left-radius: 0px;
}

th {
    text-align:center;
    vertical-align: top;
    background-color: #adb6ff;
    min-width: 60px;
    min-height: 110px;
    border: solid black 1px;
}

.dataRows td {
   border: solid black 1px;
}

/* tri-color shade rows */
.dataRows tr:nth-child(3n+1) {
    background-color: #bab7ad;
}

.dataRows tr:nth-child(3n+2) {
    background-color: #7cd6aa;
}
.dataRows tr:nth-child(3n+3) {
    background-color: #ff7f7f;
}


#divDebug td {
    border: dotted red 1px;
    color: blue;
    direction: rtl;
    font-size: x-large;
    padding: 1px 10px 1px 1px;
}

.colFormNum {
    color: black;
    text-align: center;
    direction: ltr;
}

.colMeaning, .colTranslation {
    text-align: left;
    direction: ltr;
    color: black;
}

td.colNoun, td.colVerb  {
    font-size: x-large;
    text-align: center;
    direction: rtl;
}

.arHead {
    font-weight: bold;
    direction: rtl;
}
/* end content table */


/* style input menu */

option {
    text-align: right;
    font-size: x-large;
    direction: rtl;
}

.ui-menu {
    text-align: right;
    font-size: x-large;
    direction: rtl;
}

/* end input menu */


/* style everything else */

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.hideMe {
    display: none;
}

.hideMe table td {
    border: dashed blue 1px;
}

body {
    background-color: #FFF8DC;
}

/*
#btnFoo {
    opacity: .00;
}
 */