#topTable {
    min-width: 80%;
}

#topTable td {
/*     min-width: 40%; */
    display: inline;
}
.chosen-single, .chosen-container, .chosen-select {
    width: 10em;
    padding: 5px;
}

td td {
    padding: 5px;
    min-width:3em;
    text-align: right;
}

td th {
    padding: 1px;
    min-width:3em;
    text-align: center;
}

table {
    border-collapse: collapse;
}

h4 {
    padding: 1px;
    margin: 1px;
}

#accordion .accFormDiv {
    height: 100%;
}