@import url(https://code.jquery.com/ui/1.12.1/themes/humanity/jquery-ui.css);

/* style master table */
#thButtons {
    text-align: left;
    padding: 10px;
    background-color: #BF7F3F;
/*  border: solid black 1px; */
}

#activeRoot {
    font-weight: boldest;
    font-size: xx-large;
    background-color: #f4ce42;
    border: solid black 1px;
}

button {
    background-color: #fff8dc;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: medium;
    height: 50px;
    width: 100px;
}
/* end master table */


/* style content table */
#contentTable th {
    text-align:center;
    vertical-align: top;
    background-color: #adb6ff;
    min-width: 60px;
    min-height: 110px;
    border: solid black 1px;
}


#contentTable td {
    border: solid black 1px;
    height: 26px;
}

#formDescriptionTable td  {
    text-align: left;
    /* b/c text is English LTR */
}

.colFormNum {
    min-width: 40px;
    color: black;
    text-align: center;
}

.colMeaning, .colTranslation {
    text-align: left;
    color: black;
}

td.colNoun, td.colVerb  {
    font-size: x-large;
    color: dimgrey;
    text-align: center;
}

/* tri-color shade rows */
#contentTable tr:nth-child(3n+1) {
    background-color: #bab7ad;
}

#contentTable tr:nth-child(3n+2) {
    background-color: #7cd6aa;
}
#contentTable tr:nth-child(3n+3) {
    background-color: #ff7f7f;
}

.arHead {
    font-weight: bold;
}
/* end content table */


/* style input menu */
.ui-menu {
    text-align: right;
    font-size: x-large;
}

#inputTable {
    vertical-align: top;
}
/* end input menu */


/* style everything else */

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.hideMe {
    display: none;
}

body {
    background-color: #FFF8DC;
}


/*
label {
    display: inline-block;
    width: 5em;
}
 */