@import url(https://code.jquery.com/ui/1.12.1/themes/humanity/jquery-ui.css);

body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
/*
    font-size: 62.5%;
    background-color: #c7d5de;
*/
    }

table {
    border-collapse: collapse;
    }

td table {
    border: black 1px;
}

th {
/* for master table */
    font-weight: x-large;
    text-align:center;
    vertical-align: top;
    padding: 5;
    border-collapse: collapse;
    background-color: #f4ce42;
    border: solid black 0px;
    }

td td th {
/* for sub-tables */
    text-align:center;
    vertical-align: top;
    padding: 0;
    border-collapse: collapse;
    background-color: #adb6ff;
    border-left: solid black 1px;
}

#activeRoot {
    font-weight: boldest;
    font-size: xx-large;
}

td {
    vertical-align: top;
    padding: 0;
    border-collapse: collapse;
}

td td {
    border: solid black 1px;
    height: 40px;
    /*     40px height keeps row heights from getting dorked up */
}

/* tri-color shade rows */
tr tr tr:nth-child(3n+1) {
    background-color: #bab7ad;
}

tr tr tr:nth-child(3n+2) {
    background-color: #7cd6aa;
}
tr tr tr:nth-child(3n+3) {
    background-color: #ff7f7f;
}

.ui-menu {
/*     width: 30px; */
    text-align: right;
}
